/* FONT */
@import url('https://fonts.googleapis.com/css2?family=Plus+Jakarta+Sans:ital,wght@0,200..800;1,200..800&display=swap');



/* CUSTOM PROPS */
:root {
    --body-text: #83869A;
    --dark: #13183F;
    --primary: #F74780;

}

:root[data-theme="light"] {

}

:root[data-theme="dark"] {

}


/* GLOBAL */
body {
  display: flex;
  flex-direction: column;
  padding: 0;
  margin: 0;
  font-family: "Plus Jakarta Sans", sans-serif;
  font-size: 16px;
  font-weight: 500;
  line-height: 26px;
  background-color: #fff;
  background-image: linear-gradient(180deg, #fff 0%, #f0f1ff 100%);
  color: var(--body-text);
}

img {
  height: auto;
}


/* AUTOFILL-STYLES */
/*input:-webkit-autofill,
input:-webkit-autofill:hover,
input:-webkit-autofill:focus,
textarea:-webkit-autofill,
textarea:-webkit-autofill:hover,
textarea:-webkit-autofill:focus,
select:-webkit-autofill,
select:-webkit-autofill:hover,
select:-webkit-autofill:focus {
  border-color: transparent;
  -webkit-text-fill-color: inherit;
  -webkit-box-shadow: 0 0 0px 1000px #fff inset;
}*/


/* PLACEHOLDER-STYLES */
/*::-webkit-input-placeholder,
::-moz-placeholder,
:-ms-input-placeholder,
:-moz-placeholder {
  color: rgba(52, 49, 61, 0.5);
  opacity: 1;
}*/


/* VISUALLY-HIDDEN */
.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  clip: rect(0 0 0 0);
  overflow: hidden;
}


/* CONTAINER */
.container {
  width: 100%;
  max-width: 1190px;
  padding-left: 16px;
  padding-right: 16px;
  margin-left: auto;
  margin-right: auto;
}

/* LOGO */
.logo {
    display: block;
    text-decoration: none;
}

.logo:hover {
    opacity: 0.8;
}

.logo:active {
    opacity: 0.6;
}

.logo__img {
    flex-shrink: 0;
    display: block;
}


/* BUTTON */
.button {
    display: inline-block;
    text-decoration: none;
    border: 0;
    cursor: pointer;
    padding: 9px 24px 11px;
    border-radius: 28px;
    color: #fff;
    font-size: 16px;
    line-height: 28px;
    font-weight: 700;
    background-color: var(--dark);
    white-space: nowrap;
    transition: all 0.375s ease;
    text-transform: capitalize;
}

.button:hover {
    background-color: #666ca3;
}

.button:active {
    opacity: 0.6;
}


/* MAIN-CONTENT */
.main-content {
  flex-grow: 1;
}


/* SITE HEADER */
.site-header {
    padding-top: 16px;
    padding-bottom: 16px;
}

.site-header__container {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.site-header__logo {
    margin-right: 32px;
}





@media
only screen and (-webkit-min-device-pixel-ratio: 2),
only screen and (   min--moz-device-pixel-ratio: 2),
only screen and (     -o-min-device-pixel-ratio: 2/1),
only screen and (        min-device-pixel-ratio: 2),
only screen and (                min-resolution: 192dpi),
only screen and (                min-resolution: 2dppx) {

}










@media only screen and (min-width: 768px) {
    .container {
        padding-left: 40px;
        padding-right: 40px;
    }
    
    .site-header {
        padding-top: 24px;
        padding-bottom: 24px;
    }
}

@media only screen and (min-width: 1140px) {
    .logo__img {
        width: 114px;
        height:28px;
    }
}